* {
    background-color: black;
    color: white;
    font-family: monospace, monospace;
    font-size: 1em;
    margin: 0;
}

::selection {
    color: none;
    background: none;
}

input {
    border: 0;
    outline: none;
}

#terminal {
    height: 35em;
    line-height: 1.5em;
    overflow: hidden;
    padding-left: 0.5em;
}
