* {
    background-color: black;
    color: white;
    margin: 0;
}

#terminal {
    max-height: 42em;
    line-height: 1.5em;
    overflow: hidden;
    padding-left: 0.5em;
}

input {
    border: 0;
    outline: none;
}
